/* fonts roboto google */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --background: #181818;
  --blue-color: #2666cf;
  --red-color: #c62e2e;
  --green-color: #72bf78;
  --yellow-color: #fabc3f;
  --white-color: #ffffff;
  --black-color: #1e1e1e;
  --grey-color: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background: var(--background);
    color: var(--white-color);
    font-family: "Roboto";
}

/* COMPONENTS CLIENT NAVBAR */
.navbar{
  background-color: var(--black-color);
  border-bottom: var(--grey-color) 1px solid;
}
.navbar a {
  color: var(--white-color);
}
.navbar a:hover {
  color: var(--blue-color);
}

